.single-result-wrapper {
    .single-result-content-wrapper {
        gap: 25px; 
        @include media-breakpoint-down(sm) {
             text-align: center;
        }
        .single-result-money-wrapper {
            .money-heading {
                font-size: 38px;
                line-height: 1;
            }   
        }
        .single-result-meta-wrapper {
            width: 100%; 
            @include media-breakpoint-down(sm) {
                width: 100%; 
            }
            .single-result-name-wrapper {
                .name-heading {
                    font-size: 15px; 
                }
            }
            .single-result-location-year-wrapper  {
                column-gap: 5px;
                font-weight: bold;
                @include media-breakpoint-down(sm) {
                    justify-content: center;
                }
                p {
                    font-size: 15px; 
                }
            } 
        }
    } 
}