.single-video-wrapper {
    .single-video-content-wrapper {
        .video-title-content-wrapper {
            padding-top: 20px; 
            .video-title-wrapper {

            }
        }
    }
}



.single-video-modal-wrapper {
    .modal-dialog {
        max-width: none;
    }

    .modal-content {
        width: 50%; 
        margin: auto; 
    }

    .close-button-wrapper {
        font-size: 24; 
        button {
            color: $color-secondary; 
        }
    }
    
    iframe {
        width: 100%; 
        height: auto; 
        aspect-ratio: 16/9;
    }
}