.interior-hero-section {
    padding-top:60px; 
    padding-bottom: 60px; 
    @include media-breakpoint-down(sm) {
        padding-top: 30px; 
    }
    .interior-hero-container {
        .interior-hero-row {
            .interior-hero-col {
                .interior-hero-content-wrapper {
                    background-color: $interior-hero-bg; 
                    .title-wrapper {
                        width: $title-width; 
                        .title-content-wrapper {
                            width: $title-width;
                            margin: auto;  
                            .big-title-wrapper {
                                margin-bottom: $title-element-spacing; 
                            }
                            .subtitle-wrapper {
                                margin-bottom: $title-element-spacing; 
                            }
                        }
                        @include media-breakpoint-down(sm) {
                            width: $title-width-mobile; 
                            margin-bottom: 30px; 
                        }
                    }
                    .image-wrapper {
                        width: $image-width; 
                        height: $image-height; 
                        background-repeat: no-repeat; 
                        background-position: center; 
                        @include media-breakpoint-down(sm) {
                            width: $image-width-mobile; 
                        }
                    }
                }
            }
        }
    }
}


.form-hero-section {
    .form-block-wrapper {
        border-radius: 12px;
        border: solid 2px $color-offwhite; 
        padding: 20px; 

    }

    .cta-form-block-container { 
        .cta-form-text-wrapper {
            .big-title-wrapper {
                padding-bottom: 2rem; 
                .form-hero-title {
                    color: $color-secondary; 
                    font-size: 5rem; 
                    margin-bottom: 0; 
                }
            }

            .hero-content {
                margin-bottom: 50px; 
                iframe {
                    width: 100%; 
                }
            }
           
        }
        &.alt-layout {
            .section-subtitle {
                p {
                    font-size: 18px;
                    margin-bottom: 0;  
                }
            }
            .image-wrapper {
                padding-top: 30px; 
            }
            .callout-box {
                padding-top: 30px; 
                .callout-box-content-wrapper {
                    padding: 15px; 
                    .callout-box-title {
                        padding-bottom: 15px; 
                    }
                }
            }
            .disclaimer-text-wrapper {
                padding-top: 30px; 
            }
        }

    }
}

.bottom-title {
    position: absolute; 
    @include media-breakpoint-down(xl) {
        position: relative; 
    }
}


