.page-link-list-section {
    &.background-primary {
         .link-list-container.card {
             .link-list-row {
                .link-list-col {
                    .link-list-wrapper {
                        .link-col {
                            .single-link-wrapper {
                                font-size: 18px; 
                                border-radius: 12px;
                                padding: 25px; 
                                text-align: center; 
                                @extend .background-light-grey; 
                            }
                           
                        }
                    }
                }
            }
        }
        .link-list-container.regular {
             .link-list-row {
                .link-list-col {
                    color: $color-darkgray; 
                   
                    .link-list-wrapper {
                        .link-col {
                            color: $color-darkgray; 
                           
                            .single-link-wrapper {
                               
                            }
                           
                        }
                    }
                }
            }
        }

    }
    .link-list-container {
        .link-list-row {
            @include media-breakpoint-down(sm) {
                margin-left: 0; 
                margin-right: 0; 
            }
            .link-list-col {
                border-radius: 12px;
                padding: 20px; 
                @include media-breakpoint-down(sm) {
                    padding: 0; 

                }
                .link-list-title-wrapper {
                    padding-bottom: 20px; 
                    font-size: 18px; 
                    @include media-breakpoint-down(sm) {
                        padding-bottom: 40px; 
                    }
                    a {
                        font-weight: 800;
                    }

                }
                .link-list-wrapper {
                    padding-top: 20px; 
                    @include media-breakpoint-down(sm) {
                        padding-top: 0; 
                    }
                    ul {
                        
                        gap: 20px 0;
                        @include media-breakpoint-down(sm) {
                            margin-left: 0; 
                            margin-right: 0; 
                        }
                        i {
                            width: 13px; 
                            margin-right: 10px; 
                        }
                        li.link-col {
                            @include media-breakpoint-down(sm) {
                                padding-left: 0; 
                                padding-right: 0; 
                            }
                        }
                    }
                    

                }
            }
        }
        &.big-title {
            hr {
                width: 32px;
                border: solid 4px blue;
                opacity: 1;
            }   
            article {
                padding: 0; 
                background-color: transparent; 
                letter-spacing: -1px;
            }
        }
        &.card {
             .link-list-row {
                .link-list-col {
                    .link-list-wrapper {
                        .link-col {
                            .single-link-wrapper {
                                font-size: 18px; 
                                border-radius: 12px;
                                padding: 25px; 
                                text-align: center; 
                                @extend .background-primary; 

                            }
                           
                        }
                    }
                }
            }
        }
        &.regular {
            .link-list-row {
                .link-list-col {
                    background: $color-white; 
                    border: solid 1px lightgray; 
                    padding: 20px; 
                    .link-list-title-wrapper {
                        padding-bottom: 20px; 
                        border-bottom: solid 1px lightgray; 
                        font-size: 18px; 
                        a {
                            font-weight: 800;
                        }

                    }
                    .link-list-wrapper {
                        padding-top: 20px; 
                        ul {
                            gap: 20px 0;
                            i {
                                width: 13px; 
                                margin-right: 10px; 
                            }
                        }

                    }
                }
            }
        }
    }
}