.page-link-list-section {
    .link-list-container {
        .link-list-row {
            .link-list-col {
                padding: 20px; 
                .link-list-title-wrapper {
                    padding-bottom: 20px; 
                    font-size: 18px; 
                    a {
                        font-weight: 800;
                    }

                }
                .link-list-wrapper {
                    padding-top: 20px; 
                    ul {
                        gap: 20px 0;
                        i {
                            width: 13px; 
                            margin-right: 10px; 
                        }
                    }

                }
            }
        }
        &.big-title {
            hr {
                width: 32px;
                border: solid 4px blue;
                opacity: 1;
            }   
            article {
                letter-spacing: -1px;
            }
        }
        &.card {
             .link-list-row {
                .link-list-col {
                    .link-list-wrapper {
                        .link-col {
                            .single-link-wrapper {
                                font-size: 18px; 
                                padding: 25px; 
                                text-align: center; 
                                @extend .background-primary; 

                            }
                           
                        }
                    }
                }
            }
        }
        &.regular {
            .link-list-row {
                .link-list-col {
                    background: $color-white; 
                    border: solid 1px lightgray; 
                    padding: 20px; 
                    .link-list-title-wrapper {
                        padding-bottom: 20px; 
                        border-bottom: solid 1px lightgray; 
                        font-size: 18px; 
                        a {
                            font-weight: 800;
                        }

                    }
                    .link-list-wrapper {
                        padding-top: 20px; 
                        ul {
                            gap: 20px 0;
                            i {
                                width: 13px; 
                                margin-right: 10px; 
                            }
                        }

                    }
                }
            }
        }
    }
}