.practice-list-section {
    .practice-list-col {
        ul {
            column-count: 3;
            column-gap: 2rem;
            @include media-breakpoint-down(sm) {
                column-count: 2;
            }
            li {
                font-size: 18px; 
                margin-bottom: 15px; 
            }

        }
    }
}