
.recent-posts-section {
    .recent-posts-container {
        &.listing {
            .single-post-tile {
                gap: 20px; 
                padding-top: 15px; 
                margin-top: 15px; 
                border-top: solid 1px lightgray; 
                &:last-child {
                    border-bottom: solid 1px lightgray; 


                }
                .single-post-image-wrapper {
                    width: 10%; 
                    padding-bottom: 0; 
                }

                .single-post-title-wrapper {
                    font-size: 21px; 
                    padding-bottom: 0; 
                }
                .single-post-term-wrapper {
                    font-weight: 700; 
                    .term-wrapper {
                        .single-term {
                            white-space: nowrap;
                            font-weight: 700; 
                            border: solid 1px; 
                            line-height: 1; 
                            padding: 8px; 
                            border-radius: 12px;


                        }
                    }
                }

            }
           
        }
        
        &.featured {
            .recent-posts-row {
                .blog-featured-wrapper {
                    display: grid;
                    grid-template-columns: 4fr 3fr;
                    gap: 24px;
                    @include media-breakpoint-down(sm) {
                        display: block; 
                    }
                    .main-featured {
                        @include media-breakpoint-down(sm) {
                            height: auto!important; 
                        }
                        
                        .single-post-tile {
                            @extend .rounded-corners; 
                            background-color: $color-offwhite; 
                            padding-top: 8px; 
                            height: 100%; 
                            padding-bottom: 8px; 
                            padding-left: 20px; 
                            padding-right: 20px; 
                            @include media-breakpoint-down(sm) {
                                margin-bottom: 24px; 
                            }
                            .single-post-title-wrapper {
                                .single-post-title {
                                 
                                    font-size: 65px; 
                                    font-family: $body-text-font;
                                     @include media-breakpoint-down(sm) {
                                        font-size: 18px; 
                    
                                    }
                                }
                            }
                        }
                    }
                    .secondary-featured { 
                        .single-post-tile {
                            @extend .rounded-corners; 
                            padding-top: 8px; 
                            padding-bottom: 8px; 
                            padding-left: 20px; 
                            padding-right: 20px; 
                            background-color: $color-offwhite; 
                            &:first-child {
                                margin-bottom: 24px; 
                            }
                        }
                    }
                }
            }
        }
        .recent-posts-row {
            .recent-posts-col {
                .single-post-tile {
                    .single-post-image-wrapper {
                        padding-bottom: $recent-post-spacing; 
                        img {
                            width: 100%; 
                            height: auto; 
                        }
                    }
                    .single-post-title-wrapper {
                     
                        width: 90%; 
                        font-weight: bold;
                        padding-bottom: $recent-post-spacing; 
                        .single-post-title {
                            font-size: 18px;
                            color: $base-text-color;
                            font-family: $body-text-font; 
                            &:hover {
                                color: $color-secondary; 
                            }
                        }
                    }
                }
            }
        }
    }
}


.glide__bullets {
    position: relative;
    z-index: 2;
    left: auto; 
    bottom: auto; 
    justify-content: center;
    display: flex;
    transform: none;  
}

.glide__bullet {
    background-color: $color-secondary;
    width: 9px;
    height: 9px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: none; 
    margin: 0 .25em;
    
}

.glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid $color-primary;
    background-color: $color-primary; 
}