.stats-section {
    &.background-light-grey {
        .stats-container {
            .stats-row {
                .stats-col {
                    &:first-child {
                        .single-stat-wrapper {
                            clip-path: polygon(0 0, calc(100% - 22px) 0, 100% 50%, calc(100% - 22px) 100%, 0 100%);
                            margin-left: 0;
                            @include media-breakpoint-down(lg) {
                                clip-path: none;
                            }
                           
                        }
                    }
                    &:last-child {
                        .single-stat-wrapper {
                            @extend .background-secondary; 
                        }
                        @include media-breakpoint-down(lg) {
                            clip-path: none;
                        }
                    }
                    .single-stat-wrapper {
                        background-color: white;
                    }
                }
            }
        }
    }
    .stats-container {
        .stats-row {
            @include media-breakpoint-down(lg) {
                row-gap: 20px;
            }
            .stats-col {
                &:first-child {
                    .single-stat-wrapper {
                        clip-path: polygon(0 0, calc(100% - 22px) 0, 100% 50%, calc(100% - 22px) 100%, 0 100%);
                        margin-left: 0;
                        @include media-breakpoint-down(lg) {
                            clip-path: none;
                        }
                    }
                }
                &:last-child {
                    .single-stat-wrapper {
                        @extend .background-secondary; 
                    }
                }
                .single-stat-wrapper {
                    height: 100%; 
                    padding: 15px; 
                    background-color: $color-offwhite; 
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    clip-path: polygon(0 0, calc(100% - 22px) 0, 100% 50%, calc(100% - 22px) 100%, 0 100%, 22px 50%);
                    margin-left: -18px;
                    @include media-breakpoint-down(lg) {
                        clip-path: none;
                        margin-left: 0; 
                        margin-bottom: 10px; 
                    }

                    .stat-title-wrapper {
                        padding-bottom: 20px; 
                        .stat-title {
                            font-size: 30px; 
                        }
                    }
                    .stat-content-wrapper {
                        font-weight: 600;
                        font-size: 20px; 
                    }
                }
            }
        }
    }
}
