$title-area-wrapper-spacing: 60px; 
$big-title-spacing: 15px; 
$button-row-spacing: 30px; 

.title-area-container {
    &.vertical {
        .button-area-wrapper {
            margin-top: 20px; 

        }
    }
    &.horizontal {
        .title-area-row {
            padding-bottom: 60px; 
            @include media-breakpoint-down(sm) {
                padding-bottom: 40px;
            }
            .title-area-col {
                .title-area-content-wrapper {
                    padding-bottom: 0; 
                    .title-wrapper h1 {
                        font-size: 50px; 
                    }
                }
            }
        }
        .pw-text-button {
            justify-content: start;
        }

        .subtitle-wrapper {
            padding-bottom: 20px; 
            font-size: 20px; 
        }
    }
    .title-area-row {
        .title-area-col {
            .title-area-content-wrapper {
                padding-bottom: $title-area-wrapper-spacing; 
                @include media-breakpoint-down(sm) {
                    padding-bottom: 40px; 
                }
                .title-wrapper {

                }
                .subtitle-wrapper {
                    width: 60%; 
                    font-size: 20px; 
                    margin: auto; 
                    padding-top: $big-title-spacing; 
                    @include media-breakpoint-down(sm) {
                        width: 100%; 
                    }
                    p {
                        margin-bottom: 0; 
                    }
                }
            }
        }
    }
}

.button-row {
    margin-top: 30px; 
}

