.single-attorney-post-section {
    .professionals-hero {
        padding-top: 100px; 
        padding-bottom: 100px; 
        .professional-hero-container {
            .professional-hero-row  {
                .professional-creds-col  {
                    .prof-creds-wrapper {
                        background-color: $color-darkgray; 
                        border-radius: 12px;
                        padding: 12px; 
                        .prof-image-wrapper {
                            margin-bottom: 25px; 
                        }
                        .prof-name-wrapper {
                            margin-bottom: 25px; 
                        }
                        .prof-position-wrapper {
                            border-top: solid 1px white; 
                            padding-top: 25px;
                            text-transform: uppercase;
                        }
                        .position-contact-wrapper {
                            border-top: solid 1px white; 
                            padding-top: 25px;
                            margin-top: 25px; 
                            a  {
                                font-size: 18px; 
                                padding-bottom: 5px; 
                                color: inherit; 
                            }
                        }
                        .prof-edu-wrapper {
                            border-top: solid 1px white; 
                            padding-top: 25px;
                            margin-top: 25px; 
                        }
                    }
                }

                .professional-bio-col {
                    .name-wrapper {
                        margin-bottom: 30px; 
                    }
                    .bio-wrapper {
                        @extend .wysiwyg; 
                        margin-bottom: 40px; 
                    }

                    .results-container  {
                        margin-bottom: 50px; 
                        .results-glide {
                            margin-bottom: 20px; 
                            .glide__bullets {
                                justify-content: flex-start;
                            }
                            .glide__arrows {
                                display: flex;
                                margin-top: 15px; 
                                .glide__arrow {
                                    border: 0; 
                                    padding: 0; 
                                    box-shadow: none;
                                    position: relative;
                                    left: 0; 
                                    right: 0;  
                                    &:hover {
                                        color: $color-secondary; 
                                    }
                                }

                            }
                           
                        }
                        h5 {
                            margin-bottom: 20px; 
                        }

                    }
                }
            }
        }
    }
}